<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>Node MySQL</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>

    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Login Project</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, possimus inventore quam qui amet cupiditate vitae enim ut maiores temporibus?</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dolore.</p>
            <a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a> 
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>